extends layout

block content
  h1 Header Parser
  p A simple app that parses http headers and returns some data about the user. Visit #[a(href="https://kg-fcc-header-parser.herokuapp.com/api/whoami") https://kg-fcc-header-parser.herokuapp.com/api/whoami] to try it out.
